* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #00B9DF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 50px;
}

header > h1 {
    font-size: 1.5em;
}

header ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

a:link, a:any-link {
    color: #fff;
}

main {
    width: 90dvw;
    margin: 30px auto 0 auto;
}


section {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

section img {
    width: 250px;
}

section p {
    text-align: center;
}