@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.avatar {
    margin-top: 10px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    border: 2px solid #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    text-align: center;
}
body {
    background-color: rgb(41, 41, 41);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #a81616, #2b2b2b);
}
header{
    text-align: center;
    background-color: rgb(195, 195, 195);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-image: url('unnamed.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.info{
    justify-content: center;
    display: flex;
    gap: 100px;
    margin-bottom: 50px;
}
.curiosidades{
    background-color:rgb(171, 87, 87) ;
    padding: 1%;
    border-radius:10px ;
    border: black 1px solid;
    justify-content: left;
    text-align: left;
}
hr {
    width: 81%;
    color: black;
}
#h1Musica{
    text-align: center;
    color: rgb(0, 0, 0);
}
.musicas{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
.quadrado {
    width: 180px;
    height: 180px;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    overflow: hidden;

}
.hrCuriosidade{
    width: 100%;
    height: 2px;
    background-color: black;
    border: none;
}
.quadrado:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.7)}